/*red #690612 white and black*/
/*Josefin Sans , Righteous, font-display:swap weight 400*/
html, body {
    overflow-x: hidden; /* Hide horizontal overflow */
    overflow-y: auto;   /* Allow vertical scrolling if needed */
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f7f3e5;

  }
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 700 */
html{
font-family: "Josefin Sans", sans-serif ;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.siteHeader{
    width: 100%;
    height: 10%;
    display: inlineblock;
    background-color: white;
}
.uniquelyQualified,.associations{
    background-color: #690612;
    color: white;
    
}
/* Introduction css */
.introduction{
    width:100%;
    height: fit-content;
    display: flex;
    overflow: hidden;
    position: static;
 
}

.introImgContainer{
    width: 50%;
    overflow: hidden;
    position: relative;
    height: 78vh;
    float: left;
    display: flex;
    

}
.introImgContainer img{
    transform: scale(2.0) translate(60px,150px);
    /* max-height:900px; */

    width: auto;
    height: auto;


   

}
.introContent p{
    width: 90%;
    font-size: xx-large;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    /* border: 10px solid rgba(255, 2, 2, 0.3); */
    text-align: center;
    display: inline-block;
   

}
.introContentConatiner{
    width: 50%;
    padding: 5%;
    /* overflow: hidden; */

    height: auto;
    clear: right;
    margin: auto;
    /* margin-left: 45%; */
    align-items: center;
    text-align: center;
   



}
/* content css for intro including text and button */
.introContent{
    height: 100%;
    width: 100%;
    color: black;
    
    font-size: 30px;
    display: inline-block;
}
.introContent .logo{
    height: 40%;
    width: 80%;
    padding: 1%;
    overflow: hidden;
    display: inline-block;

}
.introContent button{
  
    background-color: #690612;  
    border: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Horizontal offset, vertical offset, blur radius, color */
    color: #f7f3e5;
    font-size: medium;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;
    width: 30%;
    min-width: 30%;
    height: 25%;
    min-height: 25%;
    transition: 0.3s;
    padding: 2%;

}
.introContent button:hover{
    background-color: #270005;
    
}
.introContent button:hover {
    background-color: #270005;

  }

/* uniquely qualified*/
.uniquelyQualified{
    width:100%;
    height: fit-content;
    display: flex;
    color: #f7f3e5;

    overflow: hidden;
    position: relative;
       
}
.uniquelyImg{
    width: 50%;
    display: flex;
    height: 720px;

    overflow: hidden;

    position: relative;
 
}
.uniquelyImg img{
    height: 80%;
    width: auto;
    border-radius: 100%;
    transform: translate(-20px);
    margin: auto;

}
.uniquelyContent {
    position: relative;
    margin-right: 5%;
    display: inline-block;
    width: 50%;
    height: 100%;
    padding: 2%;
    margin-top: 5%;
    color: #f7f3e5;
}
.uniquelyContent p{
    margin-top: 6%;
    font-style: italic;
}
.uniquelyContent h1{
    font-size: xx-large;
}
.uniquelyContent h2{
    font-size: x-large;
    text-align: left;
}
.uniquelyContent ul{
    margin-top: 5%;
    margin-right: 30px;
    align-content: center;
}
.uniquelyContent ul li{
    font-size: x-large;
}
.endorsements{
    width: 100%;
    height: fit-content;
    background-color: #5c0813;
    color: #f7f3e5;
    display: grid;

 
 
}
.endorsementsContainer{
    width: 15%;

    margin: auto;
}
.endorsements h1{
    width:100%;
    margin: auto;


    
}
.endorsementsList{
    width: 100%;
    list-style: none;
    font-size: larger;


}
.justice{
    width: 100%;
    overflow: hidden;
    height: fit-content;
    display: flex;
    background-color: #f7f3e5;
    color: #000000;
   
}
.justiceImg{
    overflow: hidden;
   
}
.justiceImg Img{

    width: 100%;

}
.justiceContent{
    padding: 5%;

    width: 100%;
    height: 100%;
}
.justiceContent , p{
    font-weight: 700;
    text-align: justify;
    font-size: x-large;
}
/* figure{
    display: block;
    margin-top: 0;
    margin-right: 0;
} */
figcaption {
    display: block;
    color: #fff;
    font: italic x-large sans-serif;
    background-color: #000000;
    text-align: center;
 
  }
.justice h1{
    text-align: center;
    color: #3a030a;
}
.justice h2{
    text-align: center;
    color: #3a030a;
}
.associations{
    display: flex;
}
.associations  h2{
    text-align: left;
   
}
.associations h1{
    text-align: center;
   
}
.associations{
    text-align: left;
    width:100vw;
    height: fit-content;
    background-color:#690612;
    display: flex;
    color: #f7f3e5;
}
.associations ul{
    list-style: circle;
    font-size: x-large;
}
.associationsContent{
    width: 30%;
    margin-left: 35%;
}
footer{
    width: 100%;
    height: 10%;
    display: flex;
    text-align: center;
  
    padding: 10px;
    background-color: #270005;
    color: #f7f3e5;

    
}
footer p{
    margin:auto ;
    text-align: center;
}
@media (max-width: 1070px) {

    html,body{
        overflow-x: hidden; /* Hide horizontal overflow */
        overflow-y: auto;   /* Allow vertical scrolling if needed */
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #f7f3e5;
    }
    .introduction{
        display: block;

    }
    .introContentConatiner{
        height: 50%;
        width: 85%;
 
    }
    .introImgContainer{
        height: 100px;
        width: 100%;

    
    }
    .introImgContainer img{
   
        border: 10px solid rgb(0, 255, 0);
    }
    .uniquelyQualified{
        display: block;
        margin:0;
    }
    .uniquelyImg{
        width: 80%;
        margin-left: 15%;

    }
    .uniquelyContent{
        width: 90%;
        margin-left: 5%;
        text-align: center;
    }
    .endorsements{
        width: 100%;
        font-size: larger;
        text-align: center;
    }
    .endorsementsContainer{
        width: 100%;
      
    }
    .endorsementsList{
        width: 100%;
      text-align: center;
    }
    .justice{
        display: block;
        width: 100%;
    }
    .justiceContent{
        width: 90%;
     
    }
    footer{
        display: block;
        height: 20%;
    }
}

@media (max-width: 690px) {

    html,body{
        overflow-x: hidden; /* Hide horizontal overflow */
        overflow-y: auto;   /* Allow vertical scrolling if needed */
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #f7f3e5;
    }
    .introduction{
        display: block;

    }
    .introContentConatiner{
        height: 50%;
        width: 85%;
 
    }
    .introImgContainer{
        height: 0px;
        width: 100%;
     

    
    }
    .introImgContainer img{
        min-width: none;
        min-height: none;
   
    }
    .uniquelyQualified{
        display: block;
        margin:0;
        text-align: center;
    }
    .uniquelyImg{
        width: 100%;
        margin: auto;
 

    }
    .uniquelyImg img{
    
        height: 500px;
        margin-left: 10%;
  

    }
    .uniquelyContent{
        width: 90%;
        
        margin-left: 5%;
        text-align: center;
    }
    .endorsements{
        width: 100%;
        font-size: larger;
        text-align: center;
    }
    .endorsementsContainer{
        width: 100%;
      
    }
    .endorsementsList{
        width: 100%;
      text-align: center;
    }
    .justice{
        display: block;
        width: 100%;
    }
    .justiceContent{
        width: 90%;
     
    }
    footer{
        display: block;
        height: 20%;
    }
    .associations ul{
        width: 100%;
        padding: 10px;
    }
}
 /* 600px,601px,768px,992px,1200px */